@font-face {
    font-family: 'fira_sansbold';
    src: url('../fonts/firasans-bold.woff2') format('woff2'),
         url('../fonts/firasans-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sans_extraboldregular';
    src: url('../fonts/firasans-extrabold.woff2') format('woff2'),
         url('../fonts/firasans-extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sans_lightregular';
    src: url('../fonts/firasans-light.woff2') format('woff2'),
         url('../fonts/firasans-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

  @font-face {
    font-family: 'fira_sanshair_hair';
    src: url('../fonts/firasans-hair-webfont.woff') format('woff'),
         url('../fonts/firasans-hair-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}